@using OktaDemoCustomerWebsite.Utils
@model OktaDemoCustomerWebsite.Models.Login
@{
    Layout = null;
    bool isAuthenticated = Model.IsAuthenticated;
    String token = RESTUtil.GetOAuthTokenFromHeader(Response);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Okta Demo Customer Website</title>
</head>
<body>
    <div>
        Hello! This is a sample customer Website that will call an API protected by Okta's API Access Management
    </div>
    @if (!isAuthenticated) {
        using (Html.BeginForm()) {
            @Html.ValidationSummary(true, "Login failed. Check your login details.");
            <div>
                Login
            </div>
            <div>
                @Html.LabelFor(m => m.UserName): @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div>
                @Html.LabelFor(m => m.Password): @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <input type="submit" value="Login" />
            </div>
        }
    } else {
        <div>
            Called Okta Demo API Server and now showing results
        </div>
        <div>
            My Account: 
        </div>
        <div>
            Name: @(ViewBag.CurrentUser.Profile.FirstName) @(ViewBag.CurrentUser.Profile.LastName)
        </div>
        <div>
            Email: @(ViewBag.CurrentUser.Profile.Email)
        </div>
        <div>
            Membership Type: @(ViewBag.CurrentUser.Profile.Type)
        </div>
        <div>
            Loyalty Points: @(ViewBag.CurrentUser.Profile.LoyaltyPoints)
        </div>
        <div>
            @Html.ActionLink("Sign Out", "Logout")
        </div>
    }
</body>
</html>
